body {
  background-color: var(--bg-color-default);
  font-family: var(--font-family-default);
  font-size: var(--font-size-default);
  word-spacing: var(--word-spacing-default);
  margin: calc(1.5 * var(--margin-default)) calc(8 * var(--margin-default)) ;
  background-image: url("../../assets/images/bg-img.jpg");
  background-size: cover;
}
